a{ 
	text-decoration: none;
	color: white;
}

hr {
  height: 15px;
  background-color: #F16868;
  border: none;
 }

/* MiViaje */

#div_left_corner {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#div_right_corner {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.div_body {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.div_body_detalle {
	text-align: center;
	margin-left: 10;	
}

.div_vertical{
	float: left;
	background-color: MediumVioletRed    ;
	padding: 10;
}

.div_lista_postulaciones {
	
}

.div_both_corners{
	border-radius: 15px;
	background-color: MediumVioletRed;
	padding: 10;
	margin-right: 150;
	margin-left: 150;
	margin: 30;
}

.div_submit {
	text-align: center;
}

.p_titulo {
	text-align: center;
	font-size: 150%;
}

.p_informacion_empty {
	text-align: center;
	font-size: 110%;
}

.span_detalle {
	padding-left: 15;
	padding-right: 15;
}

.span_detalle_button {
	float: right;
}

.boton_postulacion {
	background-color: #F16868;
    color: white;
    border: none;
    font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 90%;
	border-radius: 15px;
	height: 3%;
}

.boton_postulacion_viaje {
	background-color: #F16868;
    color: white;
    border: solid orange;
    font-family: Arial, sans-serif;
	font-weight: bold;
	border-radius: 15px;
	margin: 3%;
	height: 5%;
	width: 10%;
	font-size: 110%;
}

.boton_cancelar_viaje {
	background-color: #F16868;
    color: white;
    border: solid orange;
    font-family: Arial, sans-serif;
	font-weight: bold;
	border-radius: 15px;
	margin: 3%;
	font-size: 110%;
	padding: 0.7%;
}


/* MiViaje */

.ListadoViajesConductor_detalle {
	border: solid Crimson;
	width: 70%;
	height: 13%;
	margin-left:1%;
	margin-bottom:1%;
	background-color:#F16868;
	text-align: center;
}

.ListadoViajesPasajero_detalle {
	border: solid Crimson;
	width: 70%;
	height: 20%;
	margin-left:1%;
	margin-bottom:1%;
	background-color:#F16868;
	text-align: center;
}

.div_vertical_detalle{
	float: left;
	padding: 20;
}

.InformacionViajeLineaSuperior_detalle {
	float:left;
	margin-top:1%;
	padding-left: 5;
	padding-right: 5;
}

