a{ 
	text-decoration: none;
	color: white;
}


hr {
  height: 15px;
<<<<<<< HEAD
  background-color: #F16868;
=======
  background-color: HotPink;
>>>>>>> 20ad4d30af8ef0e2bd29701a4736cb9937d12b7a
  border: none;
 }

/* MiViaje */

<<<<<<< HEAD
#div_left_corner {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#div_right_corner {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

=======
>>>>>>> 20ad4d30af8ef0e2bd29701a4736cb9937d12b7a
.div_body {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.p_titulo {
	text-align: center;
	font-size: 150%;
}

.body_detalle {
	text-align: center;
<<<<<<< HEAD
	margin-left: 100;
}

.div_vertical{
	float: left;
	background-color: MediumVioletRed    ;
	padding: 10;
}

.span_detalle {
	padding-left: 50;
	padding-right: 50;
}






=======
	border: 6px solid #ffa500;
	height:15%;
	width:70:;
	margin-left:15%;
	margin-right:15%;
}

.span_detalle {
	padding-left: 75;
	margin-top:2%;
}
>>>>>>> 20ad4d30af8ef0e2bd29701a4736cb9937d12b7a
