.AlineacionCajasInicioSesion {
	margin-top:2%;
	margin-left:2%;
	margin-right:2%;
	padding:0px 20px 5px 5px;
}
.AlineacionCajasListaViajesHorizontal {
	padding-top:20px;
	padding-bottom:20px;
	width:18%;
	color:white;
}
.AlineacionViajesInfoHorizontal {
	width:18%;
}
.ArreglarFondoMenuBarra{
	background-color:#F16868;
	width:100%;
	height:5.5%;
}
.Bienvenida {
	background-image: url(Imagenes/nube.jpg);
	background-size:100%;
	height:100%;
}
.BienvenidaMensaje {
	height: 15%;
    opacity: 0.9;
    margin-top: 4%;
    margin-left: 15;
    margin-right: 15;
    font-size: 65px;
    text-align: center;
    padding: 0;
    font-family: Arial;
    font-weight: 800;
	text-shadow:3px 3px 4px #f00,
               5px 5px 3px #aaa,
               7px 7px 3px #00f;
	color:#F16868;
}
.blanco {
	height:8%;
	width:100%;
}
.BotonBuscar {
	background-color:#F16868; 
    color:white; 
    border:2px solid black;
	height:7%;
	width:35%;
	font-size:15px;
	opacity:0.8;
	margin-left:32.5%;
	margin-right:32.5%;
	margin-top:5%;
	font-weight:800;
	font-family: Arial;
	text-shadow:3px 3px 4px #f00,
               3px 3px 3px #aaa,
               4px 4px 4px #aaa;
	
}
.BotonEntrar {
	background-color:#F16868; 
    color:white; 
    border:2px solid black;
	font-size:15px;
	font-weight:800;
	font-family: Arial;
}
.BotonIngresar {
	background-color:#F16868; 
    color:white; 
    border-color:#BC3D3D;
	height:10%;
	font-size:25px;
	opacity:0.9;
	font-weight:800;
	font-family: Arial;
	text-shadow:3px 3px 4px #f00,
               3px 3px 3px #aaa,
               4px 4px 4px #00f;
	
}
.main-container {
      float: left;
      position: relative;
      left: 50%;
    }
.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}
.BotonRegistrar {
	background-color:#F16868; 
    color:white; 
    border:2px solid black;
	height:7%;
	width:35%;
	font-size:25px;
	opacity:0.8;
	margin-left:32.5%;
	margin-right:32.5%;
	margin-top:5%;
	font-weight:800;
	font-family: Arial;
	text-shadow:3px 3px 4px #f00,
               3px 3px 3px #aaa,
               4px 4px 4px #aaa;
	
}
.BotonReservarAsiento {
	background-color:#F16868; 
    color:white; 
    border:2px solid black;
	margin-right:2%;
	margin-top:1.8%;
	float:right;
	width:12%;
	font-size:12px;
	font-weight:800;
	font-family: Arial;
	text-shadow:3px 3px 4px #f00,
               3px 3px 3px #aaa,
               4px 4px 4px #aaa;
	
}
.CajasInicioSesion {
	float:right;
	color:white;
	width:25%;
	margin-top:3%;
	margin-bottom:1%;
}
.CajaInformacionUsuario {
	background-color:#BC3D3D;
	border:6px solid #F16868;
	border-radius:30px;
	width:97%;
	height:80%;
	margin:1% 1% 1% 1%;
}
.CajaInformacionPersonal {
	width:48%;
	height:93%;
	background-color:green;
	margin:1% 1% 1% 1%;
	float:left;
}
.CajaInformacionCalificacion {
	width:48%;
	height:93%;
	margin:1% 1% 1% 1%;
	float:right;
	background-color:blue;
}
.CajaMenuBusqueda {
	margin-top:10%;
	margin-left:3%;
	margin-right:3%;
	background-color:#F16868;
	border:6px solid #F16868;
	border-radius:30px;
}
.CajaPaginacion{
	background-color: black;
	height:6%;
	width: 100%;
}
.FormularioInicioSesion {
    background-color:white;
    color: red;
}
.FormularioMenuBusqueda {
    width:86%;
    padding:12px 20px;
    margin:3% 7% 3% 7%;
    box-sizing:border-box;
    border:none;
	border-radius:9px;
    background-color:white;
    color: black;
	font-family:Arial;
}
.FormularioRegistrarse {
    width:90%;
    padding:12px 20px;
    margin:7px 15px ;
    box-sizing:border-box;
    border:none;
	border-radius:9px;
    background-color:#F16868;
    color: black;
}
.FotoYNombre {
	width:100%;
	height:50%;
}
.Header {
	height:15%;
}
.IconoBienvenida {
	width:20%;
	height:40%;
	margin-left:40%;
	margin-bottom:5%;
}
.IconoInicio {
	height:20%;
	margin-bottom:1%;
	margin-top:1%;
	margin-left:1%;
}
.ImagenPerfil {
	height:50%;
	width:50%;
	background-color:blue;
}
.LabelFormularios {
	margin-left:7%;
}
.LineaPiePagina {
	width: 100%;
	background-color:#F16868;
	height: 6%;
	display: inline-block;
}
.ListadoViajes {
	width:99.6%;
	height:10%;
	color:white;
	border:2px solid #F16868;	
}
.Menu {
	float:left;
	width:20%;
	height:100%;
}
.NombreYApellido {
	margin-left:4%;
	margin-top:4%;
	width:90%;
	height:90%;
	opacity:0.8;
}
.Paginacion {
    display: inline-block;
}
.ParteViajes {
	float:right;
	width:80%;
	height:100%;
}

.registrar {
	margin:10px 35%;
	border:6px solid #F16868;
	border-radius:8px;
	width:30%;
	float:right;
	background-color:white;
	opacity:0.8;
}
.AlineacionVotosNYP {
	text-align:left;
	margin-left:2%;
	margin-bottom:10%;
	height:10%;
	width:90%;
}
.UnAventonInicio {
	font-family:Arial;
	font-size:50px;
	font-weight: 800;
	text-shadow:3px 3px 4px #f00,
               5px 5px 3px #aaa,
               7px 7px 3px #00f;
	color:white;
	height:10%;
}
.ViajesInfoHorizontal {
	height:5%;
	width:100%;
	background-color:orange;
}
.menuBarra ul li {
    background-color:#F16868;
}

.menuBarra ul {
    list-style:none;
    margin:0;
    padding:0;
	width:100%;
}

.menuBarra ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
	letter-spacing:1px;
}
.menuBarra ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.menuBarra ul li:hover {
    background:#AB2424;
}

.menuBarra ul ul {
    display:none;
    position:absolute;
    left:0;
    padding:0;
}

.menuBarra ul ul li {
    float:none;
    width:150px;
}

.menuBarra ul ul a {
    padding:10px 15px;
}

.menuBarra ul li:hover > ul {
    display:block;
}